@using Microsoft.Azure.Management.Fluent;
@using Microsoft.Azure.Management.AppService.Fluent;
@using Microsoft.Extensions.Options;
@using Dashboard.Options;
@page "/"
@inject IAzure azure
@inject IOptions<DomainOptions> domainOptions

<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" href="#">
                @_currentRG
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">

            </div>

            <div class="navbar-end">
                <div class="navbar-end">
                    <div class="navbar-item is-size-6">Resource group:</div>
                    <div class="select navbar-item" style="margin-top: 11px;">
                        <select @bind="_currentRG">
                            @foreach (var rg in _RGs)
                            {
                                <option>@rg</option>
                            }
                        </select>
                    </div>

                    <div class="navbar-item" style="margin-right: 5px;">
                        <button class="button is-success" disabled="@_loading" @onclick="async o => { await ReadWebApps(); }">
                            <span class="icon">
                                <i class="fas fa-sync"></i>
                            </span>
                            <span>Refresh</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">

    @if (!_loading)
    {
        @foreach (var app in WebApps[_currentRG])
        {
            <div class="level">
                <div class="level-left"><img class="app-logo" src="/images/webapp-logo.png"><h1 class="level-item is-size-4">@app.Key.Name</h1></div>
            </div>
            <div class="columns">
                <div class="column is-one-third-desktop is-half-tablet is-full-mobile">
                    <WebAppCard ParentName="@null" IsProduction="@true" App="@app.Key" Domain="@domainOptions.Value.Name" Subscription="@domainOptions.Value.Subscription" />
                </div>
                @foreach (var slot in app.Value)
                {
                    <div class="column is-one-third-desktop is-half-tablet is-full-mobile">
                        <WebAppCard ParentName="@app.Key.Name" IsProduction="@false" App="@slot" Domain="@domainOptions.Value.Name" Subscription="@domainOptions.Value.Subscription" />
                    </div>
                }
            </div>
        }

        @foreach (var app in Functions[_currentRG])
        {
            <div class="level">
                <div class="level-left"><img class="function-logo" src="/images/function-logo.png"><h1 class="level-item is-size-4">@app.Key.Name</h1></div>
            </div>
            <div class="columns">
                <div class="column is-one-third-desktop is-half-tablet is-full-mobile">
                    <WebAppCard ParentName="@null" IsProduction="@true" App="@app.Key" Domain="@domainOptions.Value.Name" Subscription="@domainOptions.Value.Subscription" />
                </div>
                @foreach (var slot in app.Value)
                {
                    <div class="column is-one-third-desktop is-half-tablet is-full-mobile">
                        <WebAppCard ParentName="@app.Key.Name" IsProduction="@false" App="@slot" Domain="@domainOptions.Value.Name" Subscription="@domainOptions.Value.Subscription" />
                    </div>
                }
            </div>
        }
    }
    else
    {
        <nav class="level">
            <div class="level-item">
                <progress class="progress is-small is-primary" value="@_loadedCount" max="@_appCount"></progress>
            </div>
        </nav>
    }
</div>

@code {
    private IDictionary<string, IDictionary<IWebAppBase, IEnumerable<IWebAppBase>>> WebApps = new Dictionary<string, IDictionary<IWebAppBase, IEnumerable<IWebAppBase>>>();
    private IDictionary<string, IDictionary<IWebAppBase, IEnumerable<IWebAppBase>>> Functions = new Dictionary<string, IDictionary<IWebAppBase, IEnumerable<IWebAppBase>>>();
    private bool _loading = true;
    private string _currentRG = "";
    private List<string> _RGs = new List<string>();
    private int _appCount = 0;
    private int _loadedCount = 0;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await ReadWebApps(true);
    }

    private async Task ReadWebApps(bool initial = false)
    {
        _loading = true;
        WebApps = new Dictionary<string, IDictionary<IWebAppBase, IEnumerable<IWebAppBase>>>();
        Functions = new Dictionary<string, IDictionary<IWebAppBase, IEnumerable<IWebAppBase>>>();

        var apps = await azure.AppServices.WebApps.ListAsync();
        var functions = await azure.AppServices.FunctionApps.ListAsync();

        _appCount = apps.Count() + functions.Count();
        await InvokeAsync(StateHasChanged);

        var list = apps.OrderBy(o => o.Name).ToList();
        foreach (var app in list)
        {
            var slots = await app.DeploymentSlots.ListAsync();

            if (!WebApps.ContainsKey(app.ResourceGroupName))
                WebApps[app.ResourceGroupName] = new Dictionary<IWebAppBase, IEnumerable<IWebAppBase>>();

            WebApps[app.ResourceGroupName][app] = slots.Cast<IWebAppBase>();
            _loadedCount++;
            await InvokeAsync(StateHasChanged);
        }

        var fnList = functions.OrderBy(o => o.Name).ToList();
        foreach (var function in fnList)
        {
            var slots = await function.DeploymentSlots.ListAsync();

            if (!Functions.ContainsKey(function.ResourceGroupName))
                Functions[function.ResourceGroupName] = new Dictionary<IWebAppBase, IEnumerable<IWebAppBase>>();

            Functions[function.ResourceGroupName][function] = slots.Cast<IWebAppBase>();
            _loadedCount++;
            await InvokeAsync(StateHasChanged);
        }

        _RGs = WebApps.Select(o => o.Key).ToList();

        if (initial)
            _currentRG = _RGs.First();

        _loading = false;
        _loadedCount = 0;
        await InvokeAsync(StateHasChanged);
    }
}
